* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  border: none;
  outline: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: capitalize;
  text-decoration: none;
}

body {
  background: #014270;
}

/* -------start of headders--------- */
.header {
  display: flex;
  background-color: #000000;
  height: 80px;
  justify-content: space-between;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  /* border-bottom: 0.1px solid white; */
}

.carlifto-wrapper {
  margin: 10px 20px;
}

.carlifto-text {
  margin-top: 5px;
  width: auto;
  height: 50px;
  margin-left: 5px;
}
/* -------start of carlifto aniamtion---------- */


.carlifto {
  animation:slid 2s 1;
}

@keyframes slid {
  0%, 100% {
    transform: translateX(-500px) rotate(-360deg);
  }
  100% {
    transform: translateX(0) rotate(0deg);
  }
}
/* -------end of carlifto aniamtion---------- */

.nav-links {
  display: flex;
}

.nav-links ul {
  display: flex;
  margin: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  /* padding-left: 20px; */
  font-size: 20px;
}

.nav-links ul li {
  font-weight: 900;
  list-style-type: none;
  padding: 4px 20px;
  transition: 0.15s;
}

.nav-links ul li:hover {
  color: #FF5A33;
}
.carlifto-wrapper {
  display: flex;
  justify-content: center;
}

.carlifto-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 35px;
  margin-left: 10px;
}

.carlifto-text:hover {
  color: #ffffff;
}
/* -------end of headers--------- */

/* -------Start OF Drop Down-------- */
.dropbtn {
  background: none;
  color: white;
  padding: 5px 10px;
  font-size: 19px;
  border: none;
  font-weight: 900;
  transition: 0.20s;
  align-items: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  transition: 1s;
  margin: 0 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgb(255, 255, 255);
  z-index: 1;
  width: 0;
  right: -20px;
}

.dropdown-content a {
  color: black;
  padding: 12px 5px;
  text-decoration: none;
  display: block;
  display: flex;
  justify-content: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 10px;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-radius: 10px;
}

.dropdown:hover .dropbtn a{
  border-radius: 50px;
  color: #649ac4;
}
.dropdown .dropbtn a {
  transition: 0.15s;
}
 /* ----END of Drop Down----- */

 /* ---------------start of header---------------- */
 .links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  margin-left: 5px;
  background-color: #FF5A33;
  transition: 0.3s;
}

.links:hover::after {
  width: 90px;
}


.about-header-links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  margin-left: 5px;
  background-color: #FF5A33;
  transition: 0.3s;
}

.about-header-links:hover::after {
  width: 90px;
}

.contact-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  margin-left: 5px;
  background-color: #FF5A33;
  transition: 0.3s;
}

.contact-link:hover::after {
  width: 115px;
}

/* ------------------end of headers---------------- */

/* ----------------------------start of car parts------------------------- */
.part {
  height: 100vh;
  /* position: relative; */
}
.part::before{
  content: '';
  width: 400;
  height: 400;
  background-color: #08231e;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1000;

}

.part > .car-part {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 9rem;
  row-gap: 30px;
}
@media screen and (max-width: 900px){
  .part > .car-part {
   
    grid-template-columns: auto auto auto;
  }
}
@media screen and (max-width: 500px){
  .part > .car-part {
   
    grid-template-columns:  auto auto;
  }
}

@media screen and (max-width: 750px) {
  .part > .car-part {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 500px){
  .part > .car-part {
   
    grid-template-columns: auto;
  }
}



.card-header > img {
  width: 250px;
  height: 200px;
  object-fit: cover;
  transition: 0.3s;
  border-radius: 10px;
}

.car-part p{
  color: #ffffff;
  font-size: 20px;
}

.car-part {
  justify-content: center;
}

.car-part > div {
padding: 20px;
transition: 0.30s;
background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.parts-button {
  color: #ffffff;
  background-color: #000000;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  display: block;
  display: flex;
  margin-top: 5px;
  transition: 0.15s;
  border-radius: 50px;
}

.parts-button:hover {
  scale: 0.9;
  background-color: #ff0101d6;
  color: white;
  letter-spacing: 3px;
}


.services-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  padding-top: 6.25rem; 
  padding-bottom: 3rem;
}

.services-h1 > h1 {
  font-size: 70px;
  padding-top: 10px;
  font-weight: 900;
}

p {
  display: flex;
  justify-content: center;
  margin: 3px;
}

/* --------end of car parts----------  */

/* ---------------------start of shapes part1-------------------- */

.shap1 {
  position: absolute;
  height: 14rem;
  width: 14rem;
  left: 74rem;
  top: 10rem;
  background-color: #ffffff;
  border-radius: 50%;
}

.shap2 {
  position: absolute;
  height: 9rem;
  width: 9rem;
  left: 60rem;
  top: 32rem;
  background-color: #ffffff;
  border-radius: 50%;
}

.shap3 {
  position: absolute;
  height: 7rem;
  width: 7rem;
  left: 51rem;
  top: 17rem;
  background-color: #ffffff;
  border-radius: 50%;
}
/* --------------------end of shapes part1-------------------------- */
/* ---------------------start of shapes part1-------------------- */

.shap5 {
  position: absolute;
  height: 10rem;
  width: 10rem;
  left: 33rem;
  top: 25rem;
  background-color: #ffffff;
  border-radius: 50%;
}
.shap6 {
  position: absolute;
  height: 13rem;
  width: 13rem;
  left: 4rem;
  top: 29rem;
  background: white;
  border-radius: 50%;
}

.shap7 {
  position: absolute;
  height: 9rem;
  width: 9rem;
  left: 23rem;
  top: 12rem;
  background: white;
  border-radius: 50%;
}
/* --------------------end of shapes part1-------------------------- */